
each burnSample in burnSamples
  .burnSample
    span.time   #{burnSample.start} -> #{burnSample.end}
    if burnSample.delta <= 0 
      span.delta.good=   burnSample.delta
    else
      span.delta.bad=   burnSample.delta
    span.burn    #{burnSample.steps}