body {
  padding: 50px;
  font: 14px "Courier", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.burnSample span {

	display: inline-block;

}

.burnSample .stepsBar .body {
	background-color: blue;
	display: inline-block;
}

.burnSample span.time {
	font-size: 20px;
	width: 300px;
}

.burnSample span.good {
	color: green;
}

.burnSample span.bad {
	color: red;
}